.link { color: #FF0000; } /* CSS link color (red) */
.link:hover { color: #00FF00; } /* CSS link hover (green) */
.hover-item {
	background-color: #FFF;
}

.hover-item:hover {
	background-color: inherit;
}
#root #cnct {
  color: #fff;
  font-size: 29px;
  line-height: 40px;
  font-weight: 400;
  border-radius: 50px;
  border:0;
  padding: 20px;
  width: 25vw;
  font-family: 'Tahoma';
  -webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
#root #cnct:hover {
	box-shadow: none;
	color: #222223;
	background: #fff;
}
#root header #cnct {
	width: auto;
	padding: 12px 50px;
    font-size: 26px;
	margin-right: 25px;
}

#root .ButtonRegular:hover {
	box-shadow: none;
	color: #fff;
    background: #222223;
	border-color:#222223;
}
#root .dark .ButtonRegular:hover {
	box-shadow: none;
	color: #222223;
    background: #fff;
	border-color:#fff;
}
#root .ButtonRegularAlt:hover {
	box-shadow: none;
	color: #fff;
    background-color: #FBA300;
}